# Ignore everything
*

# But not these files...
!.gitignore
!README.md

!DRC
!DRC/*
!template
!template/*
!logo.pretty
!logo.pretty/*
!telec.pretty
!telec.pretty/*
!telec.3dshapes
!telec.3dshapes/*

# ...even if they are in subdirectories
#!*/

res/*